<section class="listSection">
    <div class="InnerSection d-flex justify-content-center">
        <div class="search_component">
            <app-search />
            <button class="btn-main " (click)="openRegisterForm()">Add Admin <i class="fa-solid fa-plus ms-1"></i></button>
        </div>
    </div>
    <div class="ListTable">
        <p-table [value]="users" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '60rem'}"
            [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" class="bg">
            <!-- Table Header -->
            <ng-template pTemplate="header">
                <tr class="list">
                    <th>Id</th>
                    <th>Name</th>

                    <th>Join Date</th>
                    <th>Actions</th>
                </tr>
            </ng-template>

            <!-- Table Body -->
            <ng-template pTemplate="body" let-user>
                <tr class="space">
                    <td>{{user.id}}-></td>
                    <td><i class="fa-solid fa-user text-success"></i> :{{ user.userName }}</td>

                    <td><i class="fa-solid fa-calendar text-info"></i> :{{ user.joinDate }}</td>

                    <td>
                        <div>
                            <span class="action-icon text-center ps-4" (click)="lockUser(user)">

                                <i *ngIf="!user.lock" class="fa-solid fa-lock-open text-warning" title="Lock User"></i>
                                <i *ngIf="user.lock" class="fa-solid fa-lock text-danger" title="Unlock User"></i>
                            </span>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <!-- Table Summary -->
            <ng-template pTemplate="summary" class="bg-black">
                <div class="flex align-items-center justify-content-around">
                    In total, there are {{ users.length }} users.
                </div>
            </ng-template>
        </p-table>
    </div>

</section>