.p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  border: 1px solid #e5e7eb;
  // border-width: 0 0 1px 0;

  padding: 15px !important;
}

// .listSection {
//   .search_component {
//     width: 25% !important;
//   }
// }
